aiohappyeyeballs==2.6.1
aiohttp==3.12.15
aiosignal==1.4.0
annotated-types==0.7.0
anyio==3.7.1
argcomplete==3.6.2
attrs==25.3.0
Beaker==1.12.1
beautifulsoup4==4.13.5
behave==1.2.6
blivet==3.12.1
blivet-gui==2.6.0
boto3==1.40.36
botocore==1.40.36
Brlapi==0.8.6
Brotli==1.1.0
bs4==0.0.2
certifi==2025.8.3
cffi==1.17.1
chardet==5.2.0
charset-normalizer==3.4.3
click==8.1.7
colorama==0.4.6
construct==2.8.8
crypt_r==3.13.1
cryptography==44.0.0
cssselect==1.3.0
cupshelpers==1.0
curl_cffi==0.13.0
dabhounds==2.0.8
dacite==1.9.2
dasbus==1.7
dbus-python==1.3.2
dbus_next==0.2.3
Deprecated==1.2.18
discid==1.2.0
distro==1.9.0
dnf==4.23.0
EditorConfig==0.17.1
evdev==1.9.1
exceptiongroup==1.3.0
execnet==2.1.1
fastapi==0.103.2
fasteners==0.20
fedora-third-party==0.10
file-magic==0.4.0
filelock==3.19.1
frozenlist==1.7.0
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
humanize==4.12.0
idna==3.10
iniconfig==2.1.0
initial-setup==0.3.101
iso639==0.1.4
jaconv==0.4.0
jaraco.classes==3.4.0
jaraco.context==6.0.1
jaraco.functools==4.1.0
jeepney==0.8.0
Jinja2==3.1.6
jmespath==1.0.1
jsbeautifier==1.15.4
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
keyring==25.6.0
langtable==0.0.69
libcomps==0.1.22
libdnf==0.74.0
libdnf5==5.2.16.0
libvirt-python==11.0.0
lorax==42.8
louis==3.33.0
lutris==0.5.19
lxml==5.3.2
lyricsgenius==3.7.2
m3u8==6.0.0
Mako==1.2.3
Markdown==3.7
markdown-it-py==4.0.0
MarkupSafe==3.0.2
mdurl==0.1.2
moddb==0.12.0
more-itertools==10.5.0
multidict==6.6.4
musicbrainzngs==0.7.1
mutagen==1.47.0
mycdp==1.2.0
nftables==0.1
olefile==0.47
outcome==1.3.0.post0
packaging==25.0
parameterized==0.9.0
parse==1.20.2
parse_type==0.6.6
Paste==3.10.1
pathvalidate==3.3.1
pdbp==1.7.1
perf==0.1
pexpect==4.9.0
picard==2.13.3
pid==2.2.3
pillow==11.1.0
platformdirs==4.4.0
pluggy==1.6.0
ply==3.11
powerline-status==2.8.4
productmd==1.45
propcache==0.3.2
protobuf==4.25.8
psutil==6.1.1
ptyprocess==0.7.0
pwquality==1.4.5
PyAudio==0.2.13
pycairo==1.25.1
pycdio==2.1.1
pycparser==2.20
pycrypto==2.6.1
pycryptodome==3.23.0
pycryptodomex==3.23.0
pycups==2.0.4
pydantic==2.11.7
pydantic_core==2.33.2
pyenchant==3.2.2
pygdbmi==0.11.0.0
pygit2==1.17.0
Pygments==2.19.2
PyGObject==3.50.0
pyinotify==0.9.6
PyJWT==2.8.0
pykakasi==2.3.0
pykickstart==3.62
pymp4==1.4.0
pynose==1.5.4
pyOpenSSL==25.0.0
pyotp==2.9.0
pyparted==3.13.0
pypresence==4.3.0
PyQt5==5.15.11
PyQt5_sip==12.16.1
PySocks==1.7.1
pyTelegramBotAPI==4.28.0
pytest==8.4.2
pytest-html==4.0.2
pytest-metadata==3.1.1
pytest-ordering==0.6
pytest-rerunfailures==16.0.1
pytest-xdist==3.8.0
python-augeas==1.2.0
python-dateutil==2.8.2
python-libdiscid==2.0.2
python-linux-procfs==0.7.3
python-meh==0.52
python-slugify==8.0.4
python-telegram-bot==22.5
python-xlib==0.33
pytube==15.0.0
pyudev==0.24.3
pywidevine==1.8.0
pyxdg==0.27
PyYAML==6.0.2
pyynl @ file:///builddir/build/BUILD/kernel-6.17.0-build/kernel-6.17-rc7-171-gfec734e8d564/linux-6.17.0-0.rc7.250927.fec734e8.260.vanilla.fc42.x86_64/tools/net/ynl
qbittorrent-api==2025.7.0
RapidFuzz==3.11.0
redis==6.2.0
referencing==0.36.2
regex==2024.11.6
requests==2.32.5
requests-file==2.0.0
requests-ftp==0.3.1
rich==13.9.4
rpds-py==0.25.0
rpm==4.20.1
s3transfer==0.14.0
sbvirtualdisplay==1.4.0
SecretStorage==3.3.3
selenium==4.35.0
seleniumbase==4.41.4
selinux @ file:///builddir/build/BUILD/libselinux-3.8-build/libselinux-3.8/src
sentry-sdk==2.21.0
sepolicy @ file:///builddir/build/BUILD/policycoreutils-3.8-build/selinux-3.8/python/sepolicy
setools==4.5.1
setroubleshoot @ file:///builddir/build/BUILD/setroubleshoot-3.3.35-build/setroubleshoot-3.3.35/src
setuptools==80.9.0
shtab==1.7.1
simpleaudio==1.0.4
simpleline==1.9.0
six==1.17.0
sniffio==1.3.1
sortedcontainers==2.4.0
sos==4.10.0
soundcloud-v2==1.6.0
soupsieve==2.8
spotdl==4.4.2
spotipy==2.25.1
starlette==0.27.0
StreamingCommunity==3.3.1
syncedlyrics==1.0.1
systemd-python==235
tabcompleter==1.4.0
telebot==0.0.5
text-unidecode==1.3
tqdm==4.67.1
trio==0.30.0
trio-websocket==0.12.2
typing-inspection==0.4.1
typing_extensions==4.14.1
ua-generator==2.0.12
Unidecode==1.4.0
urllib3==2.5.0
uvicorn==0.23.2
websocket-client==1.8.0
websockets==14.2
wheel==0.45.1
wrapt==1.17.2
wsproto==1.2.0
xkbregistry==0.3
yarl==1.20.1
yt-dlp==2025.9.26
ytmusicapi==1.11.1
